.page__control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 50%;
    padding-left: 25%;
    padding-top: 5%;
}

.page__number {
    /* width: 30px; */
}